.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: 0.3s;
  background-color: #df968c;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
  }

  &__logo {
    width: 300px;
    color: white;
  }
}

.header__wrapper {
  max-width: 100%;
  padding: 0 150px;
}

.navigation {
  display: flex;
  padding: 43px 0 42px;
}

.tab__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tab__element:hover {
  color: #8a656d;
}

.tab__element:active {
  color: #8a656d;
}

.tab__element:hover:active::after {
  background-color: #8a656d;
}

.burger-menu {
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0 15px;
}

.burger-icon {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  border-radius: 3px;
  transition: 0.7s;
}

.scrolled {
  background-color: #df968c;
}

.scrolled-border {
  border-bottom: none;
}

// Media Queries for different screen sizes
@media (max-width: 1630px) {
  .header__wrapper {
    padding: 0 120px;
  }

  .tab__element {
    width: 140px;
    font-size: 18px;
  }
}

@media (max-width: 1350px) {
  .header__wrapper {
    padding: 0 100px;
  }

  .tab__element {
    width: 130px;
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .header__wrapper {
    padding: 0 80px;
  }

  .tab__element {
    width: 110px;
    font-size: 14px;
  }

  .navigation {
    width: 60%;
  }
}

@media (max-width: 1140px) {
  .header__container {
    padding: 20px 0;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
  }

  .open-menu {
    .line-1 {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      transform: translate(-50%, -50%) rotate(-45deg);
      display: flex;
      position: absolute;
    }
  }

  .navigation {
    display: none;
  }

  .navigation.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2c3154;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 23px 0;
  }

  .tab__element {
    font-size: 12px;
    justify-content: left;
    padding: 24.5px 20px;
  }
}

@media (max-width: 600px) {
  .header__wrapper {
    padding: 0 50px;
  }

  .header__container {
    padding: 18px 0;
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 450px) {
  .header__wrapper {
    padding: 0 30px;
  }

  .header__container {
    padding: 16px 0;
  }

  .logo {
    width: 150px;
  }

  .tab__element {
    font-size: 10px;
  }
}