.programs-modifier{
  max-width: 100%;
  background-color:#f8f5f7;
  padding: 40px 115px;
}

.programs-tab{
  display: flex;
  flex-direction: column;
}

.programs-header{
  font-weight: bold;
  font-size: 64px;
  color: #5F698A;
  text-align: left;
}