.programs-modifier{
  max-width: 100%;
  background-color: #f8f5f7;
  padding: 70px 115px;
}

.programs-tab{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.programs-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.programs-header{
  font-weight: bold;
  font-size: 64px;
  color: #5F698A;
  text-align: left;
}

.program-item{
  width: calc((100% - 300px) / 3);
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 2px solid #8a656d;
  padding: 26px 30px;
  justify-content: space-between;
  background-color: white;
}

.program-item__header{
  //font-size: 32px;
  font-weight: 600;
  color: #5F698A;
  //height: 20%;
  height: 35%;
  font-size: 30px;
}

.program__list{}

.program__list-item{
  color: #5F698A;
  font-size: 18px;
  font-weight: 400;
}

.product-btn{
  background-color: #df968c;
  padding: 20px;
  color: white;
  width: 50%;
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  justify-content: center;
}