.programs-modifier{
  max-width: 100%;
  background-color: #f8f5f7;
  padding: 70px 115px;

  @media (max-width: 940px) {
    padding: 50px;
  }

  @media (max-width: 850px) {
    padding: 30px 20px;
  }
}

.programs-tab{
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.programs-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1250px) {
    gap: 3%;
  }

  @media (max-width: 850px) {
    flex-direction: column;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
  }
}

.programs-header{
  font-weight: bold;
  font-size: 64px;
  color: #5F698A;
  text-align: left;

  @media (max-width: 850px) {
    text-align: center;
    font-size: 50px;
  }

  @media (max-width: 350px) {
    font-size: 20px;
  }
}

.program-item{
  width: calc((100% - 300px) / 3);
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 2px solid #8a656d;
  padding: 26px 30px;
  justify-content: space-between;
  background-color: white;

  @media (max-width: 1250px) {
    width: 100%;
  }

  @media (max-width: 350px) {
    font-size: 30px;
    padding: 3%;
  }
}

.program-item__header{
  font-weight: 600;
  color: #5F698A;
  height: 35%;
  font-size: 30px;

  @media (max-width: 350px) {
    font-size: 20px;
  }
}

.payment-modifier{

  @media (max-width: 850px) {
    width: 80%;
    margin: 0 auto;
  }
}

.program__list-item{
  color: #5F698A;
  font-size: 18px;
  font-weight: 400;

  @media (max-width: 350px) {
    font-size: 16px;
  }
}

.product-item-btn{
  background-color: #df968c;
  padding: 20px;
  color: white;
  width: 50%;
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  justify-content: center;
  cursor: pointer;
  border: none;

  @media (max-width: 1560px) {
    width: 100%;
    padding: 15px;
  }

  @media (max-width: 350px) {
    font-size: 16px;
    padding: 5px;
  }
}