.services-modifier{
  max-width: 100%;
  background-color: #5F698A;
  //background-color: #f8f5f7;
}

.services-tab{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 75px;
  gap: 20px;
}

.services-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 74px 0 0 0;
  gap: 30px;
}

.services-list{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 0 30px;
}

.services-header{
  font-weight: bold;
  font-size: 64px;
  //color: #5F698A;
  color: white;
  text-align: center;
}

.services-list-wrapper{
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.services-list-item{
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  //color: #5F698A;
  color: white;
  padding: 10px 10px;
  //border-bottom: 3px solid aqua;
  border-bottom: 3px solid white;
  position: relative;
  cursor: pointer;
}

.services-list-item:after{
  content: '→'; /* Unicode character for an arrow */
  font-size: 35px; /* Adjust size to match the text */
  position: absolute;
  right: 5px; /* Adjust to match padding */
  top: 50%;
  transform: translateY(-50%);
}

.services-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top of all content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(128, 128, 128, 0.9); /* Grey background with opacity */
}

.modal-content {
  background-color: #f8f5f7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  gap: 45px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  height: 400px;
}

.close {
  color: #aaa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.services-apply{
    display: flex;
    color: white;
    font-size: 25px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.services-video{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.services-btn{
  background-color: #df968c;
  padding: 20px;
  color: white;
}

.modal-btn{
  background-color: #df968c;
  padding: 20px;
  color: white;
  width: 50%;
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  justify-content: center;
}

.modal-text{
  font-size: 25px;
  font-weight: 300;
  color: #5f698a;
  text-align: justify;
}