.about-me {
    background-color: #f8f5f7;
    max-width: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1350px) {
    .about-me {
        padding: 10px 5px 0 5px;
    }
}

.about-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

@media (max-width: 1540px) {
    .about-me-main-img {
        width: 60%;
    }

    .about-wrapper {
        padding-top: 10%;
    }
}

@media (max-width: 1140px) {
    .about-wrapper {
        padding: 0 5%;
    }
}

@media (max-width: 1100px) {
    .about-wrapper {
        padding: 3% 5% 0 5%;
    }
}

@media (max-width: 690px) {
    .about-wrapper {
        padding: 7% 5% 0 5%;
    }
}

@media (max-width: 600px) {
    .about-wrapper {
        padding: 13% 5% 0 5%;
    }
}

@media (max-width: 500px) {
    .about-wrapper {
        flex-direction: column;
    }
}

.about-1,
.about-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

@media (max-width: 1350px) {
    .about-1,
    .about-3 {
        width: 250px;
    }
}

@media (max-width: 950px) {
    .about-1,
    .about-3 {
        width: 100%;
        margin: 20px 0;
    }
}

.about-3 {
    margin-left: 65px;
}

@media (max-width: 1350px) {
    .about-3 {
        margin-left: 45px;
    }
}

@media (max-width: 1100px) {
    .about-3 {
        margin-left: 28px;
        padding-top: 5%;
    }
}

.about-1-text,
.about-3-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 1140px) {
    .about-1-text,
    .about-3-text {
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .about-1-text,
    .about-3-text {
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .about-1-text,
    .about-3-text {
        gap: 15px;
    }
}

.about-3-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.about-group-modifier {
    text-align: left;
}

@media (max-width: 750px) {
    .about-3-group {
        gap: 8px;
    }
}

@media (max-width: 450px) {
    .about-3-group {
        gap: 5px;
    }
}

.about-3-title {
    font-size: 38px;
    font-weight: 600;
    color: #5f698a;
    text-decoration: none;
}

@media (max-width: 1630px) {
    .about-3-title {
        font-size: 36px;
    }
}

@media (max-width: 1350px) {
    .about-3-title {
        font-size: 34px;
    }
}

@media (max-width: 1140px) {
    .about-3-title {
        font-size: 26px;
    }
}

@media (max-width: 750px) {
    .about-3-title {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .about-3-title {
        font-size: 18px;
        text-align: center;
    }
}

.about-item-text {
    color: #5F698A;
    font-size: 29px;
    font-weight: 600;
    position: relative;
    list-style: disc;
}

@media (max-width: 1630px) {
    .about-item-text {
        font-size: 27px;
    }
}

@media (max-width: 1350px) {
    .about-item-text {
        font-size: 25px;
    }
}

@media (max-width: 1140px) {
    .about-item-text {
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .about-item-text {
        font-size: 17px;
    }
}

@media (max-width: 750px) {
    .about-item-text {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .about-item-text {
        font-size: 16px;
        margin: 0 auto;
    }
}

.about-me-main-img {
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 50%;
    height: fit-content;
    /*width: 650px;*/
}

@media (max-width: 1350px) {
    .about-me-main-img {
        padding: 25% 0;
        width: 470px;
    }
}

@media (max-width: 1100px) {
    .about-me-main-img {
        padding: 20% 0;
        width: 250px;
    }
}

@media (max-width: 690px) {
    .about-me-main-img {
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .about-me-main-img {
        padding: 0;
        width: 250px;
    }
}

.socials-img {
    display: flex;
    padding: 8% 0;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .socials-img {
        padding: 6% 0;
    }
}

@media (max-width: 450px) {
    .socials-img {
        padding: 4% 0;
        justify-content: center;
        gap: 30px;
    }
}

.about-socials-icon {
    width: 54px;
}

@media (max-width: 600px) {
    .about-socials-icon {
        width: 44px;
    }
}

@media (max-width: 480px) {
    .about-socials-icon {
        width: 34px;
    }
}

.about-me-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #5F698A;
    font-size: 26px;
    padding: 4% 12%;
    position: relative;
    gap: 10px;
    text-align: center;
    align-items: stretch;

    @media (max-width: 1500px) {
        padding: 4% 8%;
    }

    @media (max-width: 1100px) {
        padding: 4%;
    }
}

.about-me-main::before,
.about-me-main::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    margin: 18px auto;
    background: linear-gradient(to right, transparent 0, #5F698A 15%, #5F698A 85%, transparent 100%);
}

.about-me-main_title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #5F698A;
}

.about-me-main_text {
    @media (max-width: 500px) {
        font-size: 20px;
    }
}

.about-me-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 0 auto;
    padding-top: 2%;

    @media (max-width: 550px) {
        flex-direction: column;
        gap: 20px;
    }
}

.about-me-main_list {
    margin: 12px 0 0;
    padding-left: 1.2em;
    color: #5F698A;
    font-size: 26px;
    line-height: 1.4;
    text-align: left;

}

.my-work-section {
    display: flex;
    flex-direction: column;
    gap: 42px;
    /*align-items: center;*/
    padding-bottom: 18px;
    text-align: left;
    margin: 0 auto;

    @media (max-width: 550px) {
        margin: 0;
    }
}

/*.my-work_title {}*/

.my-work_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    padding-left: 120px;

    @media (max-width: 1600px) {
        width: 70%;
    }

    @media (max-width: 1350px) {
        padding-left: 0;
        width: 100%;
    }

    @media (max-width: 1100px) {
        width: 100%;
        padding-left: 14px;
    }

    @media (max-width: 1100px) {
        width: 100%;
        padding-left: 8px;
    }

    @media (max-width: 760px) {
        padding: 0 20px;
        gap: 0;
    }

    @media (max-width: 540px) {
        flex-direction: column;
        gap: 12px;
    }
}

.my-work_subtitle {
    flex: 0 0 360px;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    color: #5F698A;

    @media (max-width: 760px) {
        font-size: 26px;
    }

    @media (max-width: 540px) {
        flex: auto;
        text-align: center;
    }
}

.my-work_text {
    flex: 1 1 auto;
    color: #5F698A;
    font-size: 26px;
    font-weight: 400;
    position: relative;
    list-style: disc;
    margin: 0;

    @media (max-width: 760px) {
        font-size: 20px;
    }
}