.faq-modifier {
    max-width: 100%;
    background-color: #f8f5f7;
    padding: 70px 115px;
}

.faq-header {
    font-weight: bold;
    font-size: 64px;
    color: #5F698A;
    text-align: center;
    padding: 40px 120px;
    background-color: #f8f5f7;
    margin-bottom: 0;
}