.edu-3 {
    transform: rotate(90deg);
}

.programs-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.9);
    justify-content: center;
    align-items: center;
}

.programs-modal-content {
    background-color: #f8f5f7;
    margin: 15% auto;
    padding: 20px 40px;
    gap: 45px;
    border: 1px solid #888;
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 1390px) {
    .programs-modal-content {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .programs-modal-content {
        width: 90%;
    }
}

@media (max-width: 580px) {
    .programs-modal-content {
        width: 95%;
        gap: 5px;
    }
}

.programs-modal-text {
    font-size: 25px;
    font-weight: 300;
    color: #5f698a;
    text-align: justify;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 1100px) {
    .programs-modal-text {
        font-size: 20px;
    }
}
