*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.wrapper{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 840px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.about-me{
  background-color: #f8f5f7;
  max-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
}

.about-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.about-1-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-3{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 65px;
}

.about-3-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-3-group{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.about-3-title{
  font-size: 38px;
  font-weight: 600;
  color: #5f698a;
}

.title-modifier-1{
  color: #7E5D6F;
}

.about-item-text{
  color: #5F698A;
  font-size: 29px;
  font-weight: 600;
  position: relative;
  list-style: disc;
}

.text-modifier{
  text-align: center;
}

//.about-item-text::before {
//    content: "• ";
//    color: #5F698A;
//    font-weight: 600;
//}

.about-me-main-img{
  display: flex;
  margin: 0 auto;
  padding: 30% 0;
  position: relative;
}

.socials-img{
  display: flex;
  padding: 8% 0;
  justify-content: space-between;
}